.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .login-form-button {
      margin-left: 16px;
    }
  }
}
