.file-management {
  .chonky-chonkyRoot {
    height: calc(100vh - 36px);
    margin: 8px;
  }

  .file-browser {
    .nav {
      padding: 0px;
      height: 48px;
    }
    .file-list {
      height: calc(100vh - 48px);
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      overflow-x: hidden;
      overflow-y: auto;
      .file-card {
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        user-select: none;
        .file-name {
          height: 1.5em;
          width: 270px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
.preview-content {
  width: none !important;
  height: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  .ant-modal-content {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    .video-player,
    .previewer {
      width: calc(64vw);
      height: calc(36vw);
    }
    .audio-player {
      width: calc(64vw);
      height: 64px;
    }
    .previewer {
      border: none;
    }
  }
}
