.batch-operation {
    width: calc(100%);
    height: calc(100%);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .origin-list {
        height: calc(96%);
        width: 40vw;

        .ant-spin-container {
            height: 80vh;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .ant-list-footer {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .operation-area {
        height: calc(96%);
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .target-list {
            height: calc(48%);
            width: calc(100%);

            .ant-spin-container {
                height: calc(40vh);
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
    }
}