.batch-operation {
  width: calc(100%);
  height: calc(100%);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .header {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }

  .list {
    overflow-y: auto;
    overflow-x: hidden;
    overflow-anchor: none;
    will-change: scroll-position;
  }

  .room-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px 12px 0px;
    border-block-end: 1px solid rgba(5, 5, 5, 0.06);
    color: rgba(0, 0, 0, 0.88);

    .user {
      display: flex;
      flex: 1;
      align-items: center;
      .avatar {
        margin-inline-end: 16px;
      }
      .info {
        flex: 1 0;
        .name {
          margin: 0 0 4px 0;
          font-size: 14px;
        }
      }
      .states {
        width: 96px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .state {
          width: 24px;
          height: 24px;
        }
      }
    }

    .extra {
      width: 40px;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.origin-list {
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.operation-area {
  height: calc(96%);
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .target-list {
    height: calc(48%);
    width: calc(100%);
    display: flex;
    flex-direction: column;

    .list {
      width: calc(100%);
      height: calc(100%);
    }
  }

  .actions {
    height: calc(48%);
    width: calc(100%);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      padding-inline: 24px;
    }
    .all-actions {
      height: calc(100% - 60px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .set-rooms {
        display: flex;
        justify-content: center;
        align-items: center;
        .items {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .item {
            width: 240px;
            height: 60px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            label {
              flex-grow: 0;
              width: 60px;
              font-size: 14px;
            }

            .action {
              flex: 1 1 0;
              min-width: 0;
            }
          }
        }
        .apply-all-button {
          height: 160px;
        }
      }
    }
  }
}
